@page "/"

<PageTitle>Home</PageTitle>


<form class="row g-3">
    <div class="col-auto">
        <input type="text" style="border-color: black" class="form-control" id="DeviceId" placeholder="Имей">
    </div>
    <div class="col-auto">
        <input type="text" style="border-color: black" class="form-control" id="SerialNumber" placeholder="Серийный номер">
    </div>
    <div class="col-auto">
        <input type="text" style="border-color: black" class="form-control" id="SecSerial" placeholder="Серийный номер МЭ">
    </div>
    <div class="col-auto">
        <input type="text" style="border-color: black" class="form-control" id="RegistrPhone" placeholder="Номер ЛК" aria-describedby="IsRegistrPhone"/>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Поиск</button>
    </div>
</form>

